@import "~bootstrap/dist/css/bootstrap.min.css";

.enlace-natalia {
  color: black;
}

body {
  background-color: green;
}

.container-fluid section {
  /* display: flex; */
  align-items: center;
}

.container-fluid h3 {
  margin-right: 10px;
}
.numero {
  align-items: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding-top: 55px;
}
.card {
  text-align: center;
  background: white;
  margin: auto;
  margin-top: 10px;
  height: 200px;
  width: 150px;
  font-size: 8px;
  padding: 8px;
  padding-top: 10px;
  border: 1px solid black;
  border-radius: 5px;
  position: relative;
}
.card:before,
.card:after {
  content: "\2666";
  position: absolute;
  font-size: 30px;
}

.card:before {
  top: 9px;
  left: 9px;
}

.card:after {
  bottom: 8px;
  right: 8px;
  transform: rotate(180deg);
}

.card.spade:before,
.card.spade:after {
  content: "\2660"; /* espada */
  color: black;
}

.card.heart:before,
.card.heart:after {
  content: "\2665"; /* corazon */
  color: red;
}

.card.club:before,
.card.club:after {
  content: "\2663"; /* trebol */
  color: black;
}

.card.diamond:before,
.card.diamond:after {
  content: "\2666"; /* diamantes */
  color: red;
}
#cardContainer {
  display: flex;
  width: 100%;
}
#sortcontainer {
  display: flex;
  width: 100%;
}
#sortcontainer ol {
  display: inline;
}
